/*
  scale-fade: Like Medium.com's signin box.
*/
@keyframes scale-fade {
  0% {
    opacity:0;
    transform:scale(.8) rotateX(-40deg);
  }
  50% {
    opacity:1
  }
  70% {
    transform:scale(1.05) rotateX(0);
  }
  100% {
    transform:scale(1) rotateX(0);
  }
}